*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #393939;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: column;
}
.header h1{
    color: #C3C3C3;
    color: #47535F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: 100;
    position: relative;
    top: 24px;
    left: 65px;
}
nav{
    float: right;
}
nav img{
    width: 40px;
    position: relative;
    right: 64px;
}

.menu-container {
    position: relative;
    float: right;
    bottom: 30px;
    right: 10px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    padding: 15px;
    /* background-color: #000000; */
    color: rgb(0, 0, 0);
    display: inline-block;
}

.menu-overlay { 
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #47535F; /* Dark green background */
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 1000;
    overflow: hidden;
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    /* Darker green background for the header */
    position: absolute;
    top: 0;
    width: 100%;
}

.name {
    font-size: 25px;
}

.close-button {
    background: none; 
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    position: relative;
    right: 20px;
}

.close-button:hover {
    color: red;
}

.menu-overlay .menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 60px); /* Adjusted for the header height */
}

.menu-overlay a {
    color: rgb(255, 254, 254);
    font-size: 24px;
    text-decoration: none;
    padding: 15px;
    display: block;
    transition: background-color 0.8s;
}

.menu-overlay a:hover {
    background-color: #979494; /* Slightly darker green for hover effect */
}


.projects{
    position: relative;
    top: 120px;
}
.p1projects{
    text-align: center;
    font-size: 31px;
    position: relative;
    /* top: 330px; */
}

.group-projects{
    width: 92%;
    height: 1950px;
    position: relative;
    left: 50px;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.project-1{
    width: 100%;
    height: 355px;
    background-color: #303841;
    display: flex;
}
.project-2{
    width: 100%;
    height: 355px;
    background-color: #19232F;
    display: flex;
}
.project-3{
    width: 100%;
    height: 355px;
    background-color: #7B5010;
    display: flex;
}
.project-4{
    width: 100%;
    height: 355px;
    background-color: #0b738b;
    display: flex;
}
.project-5{
    width: 100%;
    height: 355px;
    background-color: #303841;
    display: flex;
}

.project-left{
    width: 523px;
    height: 100%;
    position: relative;
    left: 40px;
    height: 78%;
    top: 30px;
    display: flex;
    flex-direction: column;
    color: #B4B4B4;
    justify-content: space-between;

}
.project-left p:nth-child(1){
    font-size: 40px;
}
.project-left p:nth-child(2){
    font-size: 32px;

}
.project-left img{
    width: 40px;
}
.project-right{
    width: 521px;
    height: 95%;
    position: relative;
    left: 50px;
    top: 19px;


}
.project-right img:nth-child(2){
    width: 521px;
    z-index: 2;
    position: relative;
    bottom: 276px;
    height: 266px;
}
.project-right img:nth-child(1){
    width: 521px;
    position: relative;
}



