*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #393939;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: column;
}
.header h1{
    color: #C3C3C3;
    color: #47535F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: 100;
    position: relative;
    top: 24px;
    left: 65px;
}
nav{
    float: right;
}
nav img{
    width: 40px;
    position: relative;
    right: 64px;
}

.menu-container {
    position: relative;
    float: right;
    bottom: 30px;
    right: 10px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    padding: 15px;
    /* background-color: #000000; */
    color: rgb(0, 0, 0);
    display: inline-block;
}

.menu-overlay { 
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #47535F; /* Dark green background */
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 1000;
    overflow: hidden;
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    /* Darker green background for the header */
    position: absolute;
    top: 0;
    width: 100%;
}

.name {
    font-size: 25px;
}

.close-button {
    background: none; 
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    position: relative;
    right: 20px;
}

.close-button:hover {
    color: red;
}

.menu-overlay .menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 60px); /* Adjusted for the header height */
}

.menu-overlay a {
    color: rgb(255, 254, 254);
    font-size: 24px;
    text-decoration: none;
    padding: 15px;
    display: block;
    transition: background-color 0.8s;
}

.menu-overlay a:hover {
    background-color: #979494; /* Slightly darker green for hover effect */
}


.projects{
    position: relative;
    top: 120px;
}
.p1projects{
    text-align: center;
    font-size: 31px;
    position: relative;
    /* top: 330px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: #47535F;
}

.group-projects{
    width: 92%;
    height: 1950px;
    position: relative;
    left: 50px;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.project-1{
    width: 100%;
    height: 355px;
    background-color: #303841;
    display: flex;
}
.project-2{
    width: 100%;
    height: 355px;
    background-color: #19232F;
    display: flex;
}
.project-3{
    width: 100%;
    height: 355px;
    background-color: #7B5010;
    display: flex;
}
.project-4{
    width: 100%;
    height: 355px;
    background-color: #0b738b;
    display: flex;
}
.project-5{
    width: 100%;
    height: 355px;
    background-color: #303841;
    display: flex;
}

.project-left{
    width: 523px;
    height: 100%;
    position: relative;
    left: 40px;
    height: 78%;
    top: 30px;
    display: flex;
    flex-direction: column;
    color: #B4B4B4;
    justify-content: space-between;

}
.project-left p:nth-child(1){
    font-size: 40px;
}
.project-left p:nth-child(2){
    font-size: 32px;

}
.project-left img{
    width: 40px;
}
.project-right{
    width: 521px;
    height: 95%;
    position: relative;
    left: 50px;
    top: 19px;


}
.project-right img:nth-child(2){
    width: 521px;
    z-index: 2;
    position: relative;
    bottom: 276px;
    height: 266px;
}
.project-right img:nth-child(1){
    width: 521px;
    position: relative;
}




.footer{
    width: 100%;
    height: 240px;
    background-color: #47535F;
    position: relative;
    top: 400px;
}
.social-media{
    color: #CBCBCB;
    display: flex;
    width: 280px;
    justify-content: space-between;
    position: relative;
    left: 450px;
    top: 70px;
}
.social-media a{
    color: #CBCBCB;
    text-decoration: none;
}
.copy-right{
    color: #CBCBCB;
    position: relative;
    left: 460px;
    top: 180px;
}



.in-touch{
    width: 1051px;
    height: 180px;
    background-color: #47535F;
    position: relative;
    top: 280px;
    left: 80px;
    display: flex;
    justify-content: space-between;
}
.in-touch-start{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: 30px;
}
.in-touch-start button{
    width: 259px;
    height: 49px;
    font-size: 25px;
    background-color: #979494;
    color: #19232F;
    border: none;
}
.in-touch-start a{
    color: #edeff2;
    text-decoration: none;
}
.in-touch-start h1{
    color: white;
    font-family: sans-serif;

}
.in-touch-start p{
    font-size: 20px;
    color: white;
}


@media only screen and (max-width: 420px) {
    .header h1:nth-of-type(1) {
        font-size: 18px;
        position: relative;
        left: 30px;
        top: 20px;
    }

      body{
        overflow-x: hidden;
    } 

    .group-projects{
        width: 320px;
        position: relative;
    }


    }


    @media (max-width: 768px) {
       
    
        .menu-container {
            position: absolute;
            right: 20px;
            top: 20px;
        }
        .menu-icon{
            position: relative;
            bottom: 20px;
        }
    
        .header h1 {
            font-size: 24px;
            left: 20px;
            position: relative;
            top: 13px;
        }
    
        .footer {
            height: auto;
        }
    
        .social-media {
            gap: 10px;
        }
        .project-left p{
            font-size: 7px;
            position: relative;
        }
    }
    
    @media (max-width: 480px) {
        
        .header h1 {
            font-size: 20px;
            position: relative;
            top: 10px;
        }
    
        .menu-icon {
            font-size: 25px;
            position: relative;
            bottom: 20px;
        }
    
        .menu-overlay .menu-content a {
            font-size: 20px;
        }
    
        .social-media{ 
            display: flex;
            font-size: 14px;
        }

        .project-left p:nth-last-of-type(1){
            font-size: 17px;
            width: 270px;
            bottom: 40px;
            position: relative;
        }
        
        
        .project-right img:nth-last-of-type(2){
            width: 240px;
            height: 160px;
            
        }
        .project-right img:nth-last-of-type(1){
            width: 240px;
            height: 140px;
           position: relative;
           top: 30px;
            
        }
        .project-right img{
            position: relative;
            right: 250px;
            top: 175px;
        }

        .project-left img{
            position: relative;
            right: 20px;
        }
        .fleximgs{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100px;
            position: relative;
            top: 20px;
        }
        .project-paragraf{
            position: relative;
            top: -13px;
        }

        
        .in-touch{
            width: 300px;
            height: 200px;
            position: relative;
            left: 50px;
        }
        .in-touch-start h1{
            font-size: 23px;
        }
        .in-touch-start button{
            position: relative;
            right: 9px;
        }
        
        .footer{
            position: relative;
            top: 350px;
            height: 240px;
        }
        .social-media{
            position: relative;
            left: 70px;
        }
        .copy-right{
            position: relative;
            left: 70px;
        }
    }
    